/* Bloco de estilos CSS */
/*<seletor css> {*/
/*    <propriedade>: <valor da propriedade>;*/
/*}*/

/*
* {
    border: 1px solid red;
}
*/

img {
    display: block;
    margin: 0 auto;
}

p {
    color: red;
    text-align: center;
}

.destaque {
    color: blue;
}

#meuParagrafo {
    color: lime;
}

[class^="btn"] {
    color: blue;
}

li {
    list-style-image: url("http://www.greensoul.de/wp-content/uploads/2015/02/2.-Platz-Stern.png");
    float: left;
    margin: 0 40px;
}

li:first-child {
    border: 1px solid red;
}

#bhf_icon-logo {
    color: red;
}

a:hover {
    text-decoration: none;
}